Linkedin_AI_Poster.json
{
  "name": "Linkedin AI Poster",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "fffbd3e7-af08-4249-bc18-88711c2a33ea",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "url": "https://www.artificialintelligence-news.com/feed/rss/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [
        220,
        0
      ],
      "id": "c0a3c43f-208f-4d31-acce-c69dcf6df6c5",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "url": "={{ $json.link }}",
        "options": {
          "allowUnauthorizedCerts": true
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "42d33765-9d0e-4d78-8341-c2e44dcdde0b",
      "name": "HTTP Request",
      "executeOnce": true
    },
    {
      "parameters": {
        "html": "={{ $json.data }}"
      },
      "type": "n8n-nodes-webpage-content-extractor.webpageContentExtractor",
      "typeVersion": 1,
      "position": [
        660,
        0
      ],
      "id": "233ae0d4-cdc4-417f-8d38-564298c365f6",
      "name": "WebpageContentExtractor"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_TijseaOICw5VLQYGYLfAMs1n",
          "mode": "list",
          "cachedResultName": "Linkedin post generator"
        },
        "prompt": "define",
        "text": "={{ $json.textContent }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        880,
        0
      ],
      "id": "c07fe067-251e-4ad3-8a90-8bbd3f7045fd",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "lvzDkSLusldy5qAE",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.studio.nebius.com/v1/images/generations",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "*/*"
            },
            {
              "name": "authorization",
              "value": "Bearer put_your_own_key_here_from_nebius"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "black-forest-labs/flux-schnell"
            },
            {
              "name": "prompt",
              "value": "={{ $json.output }}"
            },
            {
              "name": "width",
              "value": 1024
            },
            {
              "name": "height",
              "value": 1024
            },
            {
              "name": "seed",
              "value": -1
            },
            {
              "name": "negative_prompt"
            },
            {
              "name": "num_inference_steps",
              "value": 4
            },
            {
              "name": "response_format",
              "value": "b64_json"
            },
            {
              "name": "response_extension",
              "value": "jpg"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1660,
        0
      ],
      "id": "b5bb7ecf-21d1-4f10-87bd-e8072013aaf0",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "resource": "assistant",
        "assistantId": {
          "__rl": true,
          "value": "asst_A73H0oSAeQL52wEtbz9Oaf6x",
          "mode": "list",
          "cachedResultName": "Image Prompt Assistant"
        },
        "prompt": "define",
        "text": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1240,
        0
      ],
      "id": "869b3eb7-a21c-4f25-a3bd-36f3f1414d9c",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "lvzDkSLusldy5qAE",
          "name": "OpenAi account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "binaryPropertyName": "linkedin_post_image",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1880,
        0
      ],
      "id": "ad73f950-7b8d-44fd-b18e-d7cf9ee23eea",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "postAs": "organization",
        "organization": "105914773",
        "text": "={{ $('OpenAI').item.json.output }}",
        "shareMediaCategory": "IMAGE",
        "binaryPropertyName": "linkedin_post_image",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        2100,
        0
      ],
      "id": "a547912e-7248-4dc3-8d46-1cfc9216f07a",
      "name": "LinkedIn",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "jABkdudhRBGupXCQ",
          "name": "LinkedIn account 3"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "WebpageContentExtractor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WebpageContentExtractor": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9b0987ce-3143-41ea-9014-a2a8721792fb",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d1039a8336d624da7604fce81ed73e36c7d43e696177f18656cedb53a23b783b"
  },
  "id": "edJvSY8F7akGdXmG",
  "tags": []
}
